<footer class="container-fruid bg-light">
            <div class="row">
                <section class="col-12 col-md-4">
                    Colonne 1 
                </section>
                <section class="col-12 col-md-4">
                    Colonne 2
                </section>
                <section class="col-12 col-md-4">
                    Colonne 3
                </section>
            </div>
        </footer>